*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.all-cont{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
}
/*/////////\\\\\\\\\\\
Nav bar
/////////////////////*/
.navbar{
    background-color: #fec226;
    position: relative;
}
.container-fluid{
    height: 100px;
    position: relative;
}
.container-fluid .navbar-brand{
    font-family: 'lobster', serif;
    font-size: 60px;
    margin-left: 40px;
    color: #fff;
}
.search-box{
    position: absolute;
    right: 5%;
    }
/*//////////////
cards
/////////////////*/
#demo{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    height: 2000px;
    overflow: hidden;
}
@media screen and (min-width: 700px){
    #demo{
        grid-template-columns: repeat(2, 1fr);
    }
}
.cart{
    position: relative;
    height: 40px;
    background-color: #000;
    color: #fff;
    margin: 10px auto;
    padding: 5px;
    width: 80%;
    max-width: 500px;
}
.cart h1{
    font-size: 20px;
    text-align: center;
}