*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.all-cont{
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
}
/*/////////\\\\\\\\\\\
Nav bar
/////////////////////*/
.navbar{
   
    background-color: #fec226;
    width: 100%;
}
.container-fluid{
    height: 100px;
    
}
.container-fluid .navbar-brand{
    font-family: 'lobster', serif;
    font-size: 60px;
    margin-left: 40px;
    color: #fff;
}
.search-box{
    position: absolute;
    right: 5%;
}
/*//////////////
cards
/////////////////*/
#demo{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    height: 2000px;
    overflow: hidden;
    position: relative;
}
.cart{
    height: 40px;
    background-color: #000;
    color: #fff;
    margin: 20px auto;
    padding: 5px;
    width: 80%;
    max-width: 500px;
}
.cart h1{
    font-size: 20px;
    text-align: center;
}
#newsImg{
    width: 150px;
    height: 100px;
}
#newsLink{
    font-size: 1.2rem;
    color:#a10035;
}

/*=============Responsiveness starts===============*/
@media screen and (min-width: 800px){
    #demo{
        grid-template-columns: repeat(2, 1fr);
    }
    #newsLink{
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 967px){
    #newsLink{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 450px){
    #newsLink{
        font-size: .9rem;
    }
    #brand{
        font-size: 2rem;
    }
    #ads{
        width: 410px;
    }
}
@media screen and (max-width: 395px){
#ads{
    width: 300px;
}
}
