*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#data{
    display: flex;
    justify-content: center;
    text-align: center;
}
.h1{
    margin: 30px 0 50px 0;
    font-family: sans-serif;
}
.h1 h1{
 font-size: 35px; 
   color: #A10035;
}
.h1 p{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: lighter;
    float: left;
    margin-left: 100px;
}
#pageImg{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
#pageImg img{
    height: 100%;
}

.summary{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    width: 100%;
    font-size: 1.5rem;
    padding: 0 16px;
    margin: 30px auto 0 auto;
    max-width: 1000px;
}
@media screen and (min-width: 700px){
    #pageImg{
        height: 400px;
    }
}
@media only screen and (max-width: 600px)  {
    img{
       width: 100%;
        height: 250px;
    }
    .h1 h1{
        font-size: 25px;
        color: #A10035;
    }
    .h1 p{
    font-size: 15px;
    font-weight: lighter;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
}
}